.sr-only,body.modal-open {
    overflow:hidden
}
.bg-displaybanner,.text-center,.text-xsss {
    text-align:center
}
a,hr {
    color:inherit
}
progress,sub,sup {
    vertical-align:baseline
}
blockquote,body,dd,dl,fieldset,figure,h1,h2,h3,h4,h5,h6,hr,menu,ol,p,pre,ul {
    margin:0
}
.sr-only,dialog,fieldset,legend,menu,ol,ul {
    padding:0
}
.overlay,.sr-only {
    position:absolute
}
*,::backdrop,:after,:before {
    --tw-border-spacing-x:0;
    --tw-border-spacing-y:0;
    --tw-translate-x:0;
    --tw-translate-y:0;
    --tw-rotate:0;
    --tw-skew-x:0;
    --tw-skew-y:0;
    --tw-scale-x:1;
    --tw-scale-y:1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness:proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width:0px;
    --tw-ring-offset-color:#FFF;
    --tw-ring-color:#3b82f680;
    --tw-ring-offset-shadow:0 0 #0000;
    --tw-ring-shadow:0 0 #0000;
    --tw-shadow:0 0 #0000;
    --tw-shadow-colored:0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style:
}
*,:after,:before {
    box-sizing:border-box;
    border:0 solid #e5e7eb
}
:after,:before {
    --tw-content:""
}
.sr-only {
    clip:rect(0,0,0,0);
    white-space:nowrap;
    border-width:0;
    width:1px;
    height:1px;
    margin:-1px
}
.fixed {
    position:fixed
}
.relative {
    position:relative
}
.sticky {
    position:sticky
}
.inset-0 {
    inset:0
}
.top-0 {
    top:0
}
.z-50 {
    z-index:50
}
.mb-2 {
    margin-bottom:.5rem
}
.mb-3 {
    margin-bottom:.75rem
}
.mb-4 {
    margin-bottom:20px
}
.ml-3 {
    margin-left:.75rem
}
.toptiga {
    margin-top:-.75rem;
    margin-left:0;
    padding:1.5rem
}
.ml-auto {
    margin-left:auto
}
.mr-2 {
    margin-right:.5rem
}
.mt-2 {
    margin-top:.5rem
}
.mt-3 {
    margin-top:.75rem
}
.mt-4 {
    margin-top:1rem
}
.mt-auto {
    margin-top:auto
}
.block {
    display:block
}
.flex {
    display:flex
}
.inline-flex {
    display:inline-flex
}
.hidden {
    display:none
}
.h-24 {
    height:6rem
}
.h-6 {
    height:1.5rem
}
.min-h-screen {
    min-height:100vh
}
.w-11 {
    width:2.75rem
}
.w-11\/12 {
    width:91.6667%
}
.w-24 {
    width:6rem
}
.w-full {
    width:100%
}
.max-w-md {
    max-width:28rem
}
.flex-grow {
    flex-grow:1
}
.resize-none {
    resize:none
}
.flex-col {
    flex-direction:column
}
.items-start {
    align-items:flex-start
}
.items-center {
    align-items:center
}
.justify-end {
    justify-content:flex-end
}
.background {
    background:#1C1114;
    color:#fff
}
.justify-center {
    justify-content:center
}
.justify-between {
    justify-content:space-between
}
.rounded-full {
    border-radius:9999px
}
.rounded-lg {
    border-radius:1rem
}
.rounded-md {
    border-radius:.875rem
}
.border-none {
    border-style:none
}
.bg-black-500 {
    background-color:#0f1010
}
.bg-blue-600 {
    background-color:#5781da
}
.bg-gray-200,.bg-gray-700 {
    background-color:#514347
}
.bg-gray-600,.hover\:bg-gray-600:hover {
    background-color:#4b5563
}
.bg-gray-800,.bg-gray-888 {
    background-color:#171c20
}
.bg-gray-80022 {
    background-color:#2d2d2d
}
.bg-gray-900 {
    background-color:#281C20;
    border:1px solid #2C1717
}
.device-info-card {
    background-color:#281C20;
    margin-top:.6rem;
    margin-bottom:0;
    padding:1rem;
    border-radius:15px;
    border:1px solid #2C1717
}
.bg-opacity-75 {
    opacity:.98
}
.image-container {
    border-radius:1rem;
    border:1px solid rgba(255,255,255,.05);
    overflow:hidden;
    margin:1rem .6rem 0;
    position:relative;
    box-shadow:2 2px 8px rgba(0,0,0,.1)
}
.image-container img {
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;
    filter:blur(4px);
    display:block;
    border:2px solid rgba(255,255,255,.05);
    border-radius:1rem;
    position:relative
}
.bg-displaybanner {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,.3);
    color:#fff;
    text-shadow:0 1px 3px rgba(0,0,0,.8);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center
}
.overlay-text {
    font-weight:600;
    font-size:1.6rem;
    color:#c0ebff;
    text-shadow:0 1px 3px rgba(0,0,0,.5);
    font-style:italic;
    margin-bottom:0
}
.overlay-subtext {
    font-weight:300;
    font-size:.8rem;
    color:rgba(180,180,180,.55);
    text-shadow:0 1px 1px rgba(0,0,0,.4);
    font-style:italic
}
.overlay-textcppt {
    position:absolute;
    bottom:6%;
    left:6%;
    font-size:.7rem;
    color:rgba(230,225,229,.7);
    text-shadow:0 1px 2px rgba(0,0,0,.5)
}
.blurred-header {
    position:sticky;
    top:0;
    z-index:50;
    height:auto
}

.overlay {
    width:100%;
    background:rgba(0,0,0,.5);
    z-index:1
}
.btn {
    padding:15px 30px;
    font-size:16px;
    color:#fff;
    background-color:#514347;
    border:none;
    border-radius:5px;
    cursor:pointer;
    outline:0;
    transition:transform .1s,box-shadow .1s;
    box-shadow:0 4px 6px rgba(0,0,0,.1)
}
.btn:active {
    transform:scale(.95);
    box-shadow:0 2px 4px rgba(0,0,0,.1)
}
.btn:hover {
    background-color:#2e3541
}
.p-2 {
    padding:.5rem
}
.p-4 {
    padding:1rem
}
.p-6 {
    padding:.6rem
}
.py-2 {
    padding-top:.5rem;
    padding-bottom:.5rem
}
.px-10 {
    padding-left:2.5rem;
    padding-right:2.5rem
}
.px-4 {
    padding-left:1rem;
    padding-right:1rem
}
.mt-211 {
    margin-top:-20px
}
.px-7 {
    padding-left:1.75rem;
    padding-right:1.75rem
}
.px-9 {
    padding-left:2.25rem;
    padding-right:2.25rem
}
.py-1 {
    padding-top:.25rem;
    padding-bottom:.25rem
}
.py-3 {
    padding-top:.75rem;
    padding-bottom:.75rem
}
.pt-1 {
    padding-top:.25rem
}
.text-2xl {
    font-size:1.5rem;
    line-height:2rem
}
.text-lg {
    font-size:1.125rem;
    line-height:1.75rem
}
.text-sm {
    font-size:.875rem;
    line-height:1.25rem
}
.text-sizee {
    font-size:.76rem;
    line-height:1.25rem
}
.text-xl {
    font-size:1.25rem;
    line-height:1.75rem
}
.text-xs {
    font-size:.75rem;
    line-height:1rem
}
.text-sss {
    font-size:.6rem;
    line-height:.7rem;
    margin-top:.2px;
    white-space:normal;
    word-wrap:break-word;
    overflow-wrap:break-word;
    max-width:200px;
    display:block;
    color:#9fb0bf
}
.text-xssii,.text-xsss {
    font-size:.65rem;
    line-height:1rem;
    font-style:italic
}
.text-xssii {
    text-align:left
}
.font-bold {
    font-weight:700
}
.avatar-kanan {
    width:60px;
    height:60px;
    border-radius:50%;
    object-fit:cover;
    border:1px solid rgba(255,255,255,.3);
    box-shadow:0 0 8px rgba(255,255,255,.2);
    position:absolute;
    margin-bottom:4px;
    top:-10px;
    right:1px;
    filter:brightness(.9);
    transition:transform .5s,box-shadow .5s
}
.avatar-kanan:hover {
    transform:scale(1.1) translateY(-3px);
    filter:brightness(1);
    box-shadow:0 0 12px rgba(255,255,255,.4)
}
.font-semibold {
    font-weight:600
}
.text-black-69 {
    color:#cad8e3
}
.footer-container {
    width:100%;
    padding:5px 0;
    background:linear-gradient(to top,rgba(10,15,20,.95),rgba(20,25,30,.85),rgba(30,35,40,0));
    text-align:center;
    font-size:12px;
    color:#b0b0b0;
    position:relative;
    bottom:0;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    overflow:hidden
}
.footer-quote {
    font-style:italic;
    margin-bottom:5px;
    color:silver
}
.footer-credits {
    font-size:10px;
    margin-bottom:2rem;
    color:#a0a0a0
}
.footer-credits span {
    font-weight:700;
    color:#d0d0d0
}
.text-gray-600 {
    color:#4b5563
}
.text-pink-400 {
    color:#aebabf
}
.text-slate-300 {
    color:#cbd5e1
}
.text-white {
    color:#fff
}
.shadow-none {
    box-shadow:none
}
.outline-none {
    outline:transparent solid 2px;
    outline-offset:2px
}
.backdrop-blur-md {
    backdrop-filter:blur(15px)
}
.after\:absolute:after {
    content:var(--tw-content);
    position:absolute
}
.after\:left-2px:after {
    content:var(--tw-content);
    left:2px
}
.after\:top-0\.5:after {
    content:var(--tw-content);
    top:.125rem
}
.after\:h-5:after {
    content:var(--tw-content);
    height:1.25rem
}
.after\:w-5:after {
    content:var(--tw-content);
    width:1.25rem
}
.after\:rounded-full:after {
    content:var(--tw-content);
    border-radius:9999px
}
.after\:border:after {
    content:var(--tw-content);
    border-width:1px
}
.device-info-card h2 {
    font-size:1.125rem;
    font-weight:600;
    margin-bottom:1rem;
    color:#cad8e3;
    line-height:1.75rem
}
.device-info-item {
    display:flex;
    flex-direction:column;
    padding:.75rem 0
}
.device-info-divider {
    border-bottom:1.5px solid #4A4646;
    margin:.5rem 0
}
.device-info-label {
    font-size:.875rem;
    font-weight:500;
    color:#fff;
    margin-bottom:.25rem
}
.device-info-value {
    font-size:.875rem;
    color:#9ca3af
}
.after\:border-gray-300:after {
    content:var(--tw-content);
    border-color:#FFB0CC
}
.after\:bg-white:after {
    content:var(--tw-content);
    background-color:#464646
}
.after\:transition-all:after {
    content:var(--tw-content);
    transition-property:all;
    transition-duration:.15s;
    transition-timing-function:cubic-bezier(0.4,0,0.2,1)
}
#CurProfile {
    color:#FFB0CC;
    font-size:.9rem;
    font-weight:500;
    font-style:italic;
    margin-top:5px
}

.after\:content-\'\':after {
    --tw-content:"";
    content:var(--tw-content)
}
.hover\:bg-blue-500:hover {
    background-color:#6585b8
}
.hover\:bg-gray-500:hover {
    background-color:#6b7280
}
.peer:checked~.peer-checked\:bg-blue-600 {
    background-color:#FFB0CC
}
.peer:checked~.peer-checked\:after\:translate-x-full:after {
    content:var(--tw-content);
    transform:translateX(100%)
}
.peer:checked~.peer-checked\:after\:border-white:after {
    content:var(--tw-content);
    border-color:#000
}
.range:focus-visible::-webkit-slider-thumb {
    --focus-shadow: 0 0 0 6px var(--fallback-b1, oklch(var(--b1) / 1)) inset, 0 0 0 2rem var(--range-shdw) inset;
}
.range:focus-visible::-moz-range-thumb {
    --focus-shadow: 0 0 0 6px var(--fallback-b1, oklch(var(--b1) / 1)) inset, 0 0 0 2rem var(--range-shdw) inset;
}
.range::-webkit-slider-runnable-track {
    border-radius: var(--rounded-box, 1rem);
    background-color: var(--fallback-bc, oklch(var(--bc) / 0.1));
    width: 100%;
    height: 0.5rem;
}
.range::-moz-range-track {
    border-radius: var(--rounded-box, 1rem);
    background-color: var(--fallback-bc, oklch(var(--bc) / 0.1));
    width: 100%;
    height: 0.5rem;
}
.range::-webkit-slider-thumb {
    border-radius: var(--rounded-box, 1rem);
    --tw-bg-opacity: 1;
    background-color: var(--fallback-b1, oklch(var(--b1) / var(--tw-bg-opacity)));
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    color: var(--range-shdw);
    --filler-size: 100rem;
    --filler-offset: 0.6rem;
    box-shadow: 0 0 0 3px var(--range-shdw) inset, var(--focus-shadow, 0 0), calc(var(--filler-size) * -1 - var(--filler-offset)) 0 0 var(--filler-size);
    border-style: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.range::-moz-range-thumb {
    border-radius: var(--rounded-box, 1rem);
    --tw-bg-opacity: 1;
    background-color: var(--fallback-b1, oklch(var(--b1) / var(--tw-bg-opacity)));
    width: 1.5rem;
    height: 1.5rem;
    color: var(--range-shdw);
    --filler-size: 100rem;
    --filler-offset: 0.5rem;
    box-shadow: 0 0 0 3px var(--range-shdw) inset, var(--focus-shadow, 0 0), calc(var(--filler-size) * -1 - var(--filler-offset)) 0 0 var(--filler-size);
    border-style: none;
    position: relative;
    top: 50%;
}

.range {
    cursor: pointer;
    appearance: none;
    --range-shdw: var(--fallback-bc, oklch(var(--bc) / 1));
    border-radius: var(--rounded-box, 1rem);
    background-color: #0000;
    width: 100%;
    height: 1.5rem;
    overflow: hidden;
}
.range:focus {
    outline: none;
}
.range-xs {
    height: 1rem;
}
.range-xs::-webkit-slider-runnable-track {
    height: 0.25rem;
}
.range-xs::-moz-range-track {
    height: 0.25rem;
}
.range-xs::-webkit-slider-thumb {
    --filler-offset: 0.4rem;
    width: 1rem;
    height: 1rem;
}
.range-xs::-moz-range-thumb {
    --filler-offset: 0.4rem;
    width: 1rem;
    height: 1rem;
}
@media (prefers-color-scheme:dark) {
    .dark\:border-gray-600 {
        border-color:#4b5563
    }
    .dark\:bg-gray-700 {
        background-color:#514347
    }
}
.\[--range-shdw\:\#0079C8\] {
    --range-shdw: #0079c8;
}
.\[--range-shdw\:\#6262F4\] {
    --range-shdw: #6262f4;
}
.\[--range-shdw\:\#73E875\] {
    --range-shdw: #73e875;
}
.\[--range-shdw\:\#EA6661\] {
    --range-shdw: #ea6661;
}
